# Frage 19: Auf welche Probleme sind Sie bei der Zusammenführung des Datensatzes gestoßen?

Problem 1: Es fehlen Daten

In [19]:
#CSV Kunden

#Alter         0
#Einkommen     0
#Preis         0
#Geschlecht    5
#Zeit          0
#KundeNr       0

Problem 2: Behandlung fehlender Daten und Ausreißern

Spalte "Geschlecht" --> 5 fehlende Werte

In [20]:
# df_1["Geschlecht"] = df_1["Geschlecht"].fillna(1) # Für 1 (Männlich) entschieden, da die meisten Ausprägungen 1 waren

Spalte "Einkommen" --> Positive/Negative Ausreißer und Wert von 0

In [21]:
#df_1["Einkommen"].mean() --> 964474.8175955408 NICHT GEEIGNET; Mittelwert sehr empfindlich ggü. Ausreißern

In [22]:
#df_1["Einkommen"].median() --> 59013; Median ist robuster ggü. Ausreißern

In [23]:
#df_1["Einkommen"] = df_1["Einkommen"].apply(lambda x: median_einkommen if x <= 0 or x >= 1000000 else x)

Spalte "Alter" --> Werte von 100 und 120

In [24]:
#df_1["Alter"].value_counts()

In [25]:
#Alter
#55     41
#62     39
#57     34
#66     33
#64     32
#30     32
#34     31
#69     30
#37     30
#31     30
#52     29
#54     29
#58     29
#65     29
#53     29
#61     29
#68     29
#59     28
#35     27
#51     27
#41     26
#40     26
#43     26
#32     26
#46     26
#39     24
#48     24
#38     24
#33     24
#44     23
#50     23
#67     23
#42     22
#70     22
#56     22
#45     22
#49     22
#63     21
#60     20
#47     20
#36     19
#100     1
#120     1

klare Tendenz, dass bestimmte Altersgruppen besonders häufig auftreten --> deutliche Dominanz einer Altersgruppe erkennbar

Daher Entschedung für Modus und gegen Median

In [26]:
#df_1["Alter"].mode()[0]

In [27]:
#df_1["Alter"] = df_1["Alter"].apply(lambda x: modalwert_alter if x >= 100 else x)

Problem 3: Die Datentypen sind unterschiedlich

In [28]:
#Datentyp CSV Kunden:

#Alter           int64
#Einkommen     float64
#Preis         float64
#Geschlecht    float64
#Zeit          float64
#KundeNr        object

In [29]:
#Datentyp CSV Besucher:

#Alter          int64
#Einkommen     object
#Geschlecht     int64
#Zeit          object
#KundeNr       object

Probleme: Datenverlust, Unerwartetes Verhalten

Sicherstellen, dass die Datentypen in den gemeinsamen Spalten zwischen den beiden CSV-Dateien konsistent sind

In [30]:
#df_1["Geschlecht"] = df_1["Geschlecht"].astype("int64")

In [31]:
#Datentyp CSV Kunden:

#Alter           int64
#Einkommen     float64
#Preis         float64
#Geschlecht      int64
#Zeit          float64
#KundeNr        object

In [32]:
#df_2["Einkommen"] = pd.to_numeric(df_2["Einkommen"].str.replace(',', '.'), errors="coerce")

"coerce": anstelle einer Fehlermeldung wird der Wert NaNfür diejenigen Elemente verwendet
die nicht erfolgreich in numerische Werte umgewandelt werden können

In [34]:
#df_2["Zeit"] = pd.to_numeric(df_2["Zeit"].str.replace(',', '.'), errors="coerce")

In [35]:
#Datentyp CSV Besucher:

#Alter           int64
#Einkommen     float64
#Geschlecht      int64
#Zeit          float64
#KundeNr        object

Problem 4: Bundesländer nicht einheitlich --> falsche Schreibweise, Stadt, Bezirk

In [36]:
#merged_df["Niederlassung"].unique()

In [37]:
#array(['Bayern', 'Berlin', 'Baden-Württemberg', 'Hessen', 'Thüringen',
#       'Sachsen', 'Nordrhein-Westfalen', 'BERLIN', 'Niedersachsen',
#       'Hamburg', 'Brandenburg', 'Berlin-Mitte', 'Düsseldorf', 'NRW',
#       'Berlin-Charlottenburg'], dtype=object)

Zu beheben sind: BERLIN,NRW, Düsseldorf, Berlin-Mitte, Berlin-Charlottenburg

In [38]:
#merged_df["Niederlassung"] = merged_df["Niederlassung"].replace("BERLIN", "Berlin")
#merged_df["Niederlassung"] = merged_df["Niederlassung"].replace("Berlin-Mitte", "Berlin")
#merged_df["Niederlassung"] = merged_df["Niederlassung"].replace("Berlin-Charlottenburg", "Berlin")
#merged_df["Niederlassung"] = merged_df["Niederlassung"].replace("Düsseldorf", "Nordrhein-Westfalen")
#merged_df["Niederlassung"] = merged_df["Niederlassung"].replace("NRW", "Nordrhein-Westfalen")

In [1]:
#merged_df["Niederlassung"].unique()

In [ ]:
#array(['Bayern', 'Berlin', 'Baden-Württemberg', 'Hessen', 'Thüringen',
#       'Sachsen', 'Nordrhein-Westfalen', 'Niedersachsen', 'Hamburg',
#      'Brandenburg'], dtype=object)